$playerCol: #a8a8a8;
$playerColActive: #fcb503;

.player {
  display: flex;
  align-items: center;

  width: 300px;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  background-color: $playerCol;

  span {
    font-size: 32px;
    margin-left: 16px;
  }

  img {
    width: 70px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
  }
}

.player-active {
  background-color: $playerColActive;
}
